.App {  
  background-color: #282c34;
  min-height: 100vh;
  color: white;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.busca {
  flex-direction: row;
  text-align: center;
}

main {
  min-height: 400px;
  max-width: 1000px;
  margin: 30px auto;
}

table.tab_table {
  width: 100%;
}

.tab_table tbody tr td {
  padding: 5px 10px;
}
tr:nth-child(even) {background: #424855}
tr:nth-child(odd) {background: #373c46}

.tab_panel_informações {
  display: inline-block;
}
.tab_panel_informações > div {
  display: inline-block;
  padding: 5px 20px;
}
.tab_panel_informações > div > strong {
  padding: 0px 5px;
}